

#login-form{
    background-color: #536162;

    border: 5px solid #c06014;
    margin: auto;
    padding: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}